DATABASE_URL="mysql://root:113082@localhost:3306/bd_ecommerce"
NEXTAUTH_SECRET="enmar_production_secret_key_2026"
NEXTAUTH_URL="http://localhost:3000"
ENCRYPTION_KEY="enmar_super_secret_encryption_key_32bytes!"
